In [1]:
def vol(rad):
    return (4/3)*3.14*(rad**3)

In [2]:
vol(3)

84.78

In [10]:
import math

def vol(rad):
    return(4/3)*math.pi*(rad**3)

In [11]:
vol(3)

84.82300164692441

In [12]:
def ran_check(num,low,high):
    if num>=low and num<=high:
        return 'Yes'
    else:
        return 'No'

In [15]:
ran_check(5,1,4)

'No'

In [20]:
def ran_bool(num, low, high):
    return num>=low and num<=high

In [21]:
ran_bool(5,1,6)

True

In [30]:
def up_low(s):
    list=s.split()
    print list

In [31]:
up_low('hello')

['hello']

In [57]:
def up_low(s):
    upper = 0
    lower = 0 
    lst = list(s)
    for letter in lst:
        if letter.isupper():
            upper += 1
        elif letter.islower():
            lower += 1
        else:
            pass
    print 'Number of upper case is:' + str(upper)
    print 'Number of lower case characters is:' + str(lower)

In [58]:
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

Number of upper case is:4
Number of lower case characters is:33

In [62]:
def unique_list(l):
    return list(set(l))

In [63]:
unique_list([1,1,1,2,3,4,5,5,6])

[1, 2, 3, 4, 5, 6]

In [1]:
def multiply(numbers):  
    result = 1
    for number in numbers:
        result *=number
    return result

In [3]:
multiply([1,2,3,-4])

-24

In [12]:
def palindrome(s):
    return s == s[::-1]

In [15]:
palindrome('helle')

False

In [16]:
palindrome('helleh')

True

In [38]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):  
    alphabet1 = set(alphabet)
    return set(str1)

In [40]:
ispangram("The quick brown fox jumps Bover the lazy dog")

{' ',
 'B',
 'T',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [36]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'