In [1]:
l=[1,2,3,4,5,6,7]

for num in l:
    print num

1
2
3
4
5
6
7

In [2]:
l

[1, 2, 3, 4, 5, 6, 7]

In [5]:
for num in l:
    if num%2==0:
        print num
    else:
        print "odd number"

odd number
2
odd number
4
odd number
6
odd number

In [8]:
list_sum = 0
for num in l:
    list_sum += num
print list_sum

28

In [9]:
for letter in "This is a string":
    print letter

T
h
i
s

i
s

a

s
t
r
i
n
g

In [10]:
tup = (1,2,3,4,5)

for t in tup:
    print t

1
2
3
4
5

In [11]:
l = [(2,4),(6,8),(10,12)]

In [12]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [13]:
for (t1, t2) in l:
    print t1

2
6
10

In [14]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print item

k3
k2
k1

In [15]:
for item in d.items():
    print item

('k3', 3)
('k2', 2)
('k1', 1)

In [16]:
for k,v in d.items():
    print k
    print v

k3
3
k2
2
k1
1

In [17]:
d.iteritems()